
.container {
    width: calc(100% - 20px); /* Toujours 100 % de la largeur - 15px de chaque côté pour garder une marge de lecture*/
    max-width: 1280px; /*dès qu'on dépassera 1280 px de large, le contenu se fixera et sera centré*/
    min-width: 300px;
    margin: 0 auto;
}

.container-fluid {
    max-width: none;
}
/* container ligne  */
.row{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right:-10px ;
}

.row::after {
    content : "";
    clear: both;
}

[class*='col-'] {
    display: flex;
    padding: 0 20px;
}


.row-no-gutters > [class*='col-']:first-child { padding-left: 0; }
.row-no-gutters > [class*='col-']:last-child:not(:first-child)  { padding-right: 0; } /* le last child si il n'est pas un first child on lui enlève*/

/************** GRID + OFFSET POUR QUAND LA FENETRE < 576PX ***************/
    .col-xs-1  {width: 8.33333%;   }  .col-xs-offset-1  { margin-left: 8.33333%; }
    .col-xs-2  {width: 16.66666%;  }  .col-xs-offset-2  { margin-left: 16.6666%; }
    .col-xs-3  {width: 25%;        }  .col-xs-offset-3  { margin-left: 25%;      }
    .col-xs-4  {width: 33.33333%;  }  .col-xs-offset-4  { margin-left: 33.3333%; }
    .col-xs-5  {width: 41.66666%;  }  .col-xs-offset-5  { margin-left: 41.6666;  }
    .col-xs-6  {width: 50%;        }  .col-xs-offset-6  { margin-left: 50%;      }
    .col-xs-7  {width: 58.33333%;  }  .col-xs-offset-7  { margin-left: 58.33333%;}
    .col-xs-8  {width: 66.66666%;  }  .col-xs-offset-8  { margin-left: 66.6666%; }
    .col-xs-9  {width: 75%;        }  .col-xs-offset-9  { margin-left: 75%;      }
    .col-xs-10 {width: 83.33333%;  }  .col-xs-offset-10 { margin-left: 83.33333%;}
    .col-xs-11 {width: 91.66666%;  }  .col-xs-offset-11 { margin-left: 91.66666%;}
    .col-xs-12 {width: 100%;       }  .col-xs-offset-12 { margin-left: 100%;     }

/************** GRID + OFFSET POUR QUAND LA FENETRE < 576PX ***************/
@media (min-width: 576px){
    .col-sm-1  {width: 8.33333%;   }  .col-sm-offset-1  { margin-left: 8.33333%; }
    .col-sm-2  {width: 16.66666%;  }  .col-sm-offset-2  { margin-left: 16.6666%; }
    .col-sm-3  {width: 25%;        }  .col-sm-offset-3  { margin-left: 25%;      }
    .col-sm-4  {width: 33.33333%;  }  .col-sm-offset-4  { margin-left: 33.3333%; }
    .col-sm-5  {width: 41.66666%;  }  .col-sm-offset-5  { margin-left: 41.6666;  }
    .col-sm-6  {width: 50%;        }  .col-sm-offset-6  { margin-left: 50%;      }
    .col-sm-7  {width: 58.33333%;  }  .col-sm-offset-7  { margin-left: 58.33333%;}
    .col-sm-8  {width: 66.66666%;  }  .col-sm-offset-8  { margin-left: 66.6666%; }
    .col-sm-9  {width: 75%;        }  .col-sm-offset-9  { margin-left: 75%;      }
    .col-sm-10 {width: 83.33333%;  }  .col-sm-offset-10 { margin-left: 83.33333%;}
    .col-sm-11 {width: 91.66666%;  }  .col-sm-offset-11 { margin-left: 91.66666%;}
    .col-sm-12 {width: 100%;       }  .col-sm-offset-12 { margin-left: 100%;     }
}

/************** GRID + OFFSET POUR QUAND LA FENETRE < 576PX ***************/
@media (min-width: 768px){
    .col-md-1  {width: 8.33333%;   }  .col-md-offset-1  { margin-left: 8.33333%;  }
    .col-md-2  {width: 16.66666%;  }  .col-md-offset-2  { margin-left: 16.6666%;  }
    .col-md-3  {width: 25%;        }  .col-md-offset-3  { margin-left: 25%;       }
    .col-md-4  {width: 33.33333%;  }  .col-md-offset-4  { margin-left: 33.3333%;  }
    .col-md-5  {width: 41.66666%;  }  .col-md-offset-5  { margin-left: 41.6666;   }
    .col-md-6  {width: 50%;        }  .col-md-offset-6  { margin-left: 50%;       }
    .col-md-7  {width: 58.33333%;  }  .col-md-offset-7  { margin-left: 58.33333%; }
    .col-md-8  {width: 66.66666%;  }  .col-md-offset-8  { margin-left: 66.6666%;  }
    .col-md-9  {width: 75%;        }  .col-md-offset-9  { margin-left: 75%;       }
    .col-md-10 {width: 83.33333%;  }  .col-md-offset-10 { margin-left: 83.33333%; }
    .col-md-11 {width: 91.66666%;  }  .col-md-offset-11 { margin-left: 91.66666%; }
    .col-md-12 {width: 100%;       }  .col-md-offset-12 { margin-left: 100%;      }
}
/************** GRID + OFFSET POUR QUAND LA FENETRE < 992PX ***************/
@media (min-width: 992px){
    .col-lg-1  {width: 8.33333%;   }  .col-lg-offset-1  { margin-left: 8.33333%;  }
    .col-lg-2  {width: 16.66666%;  }  .col-lg-offset-2  { margin-left: 16.6666%;  }
    .col-lg-3  {width: 25%;        }  .col-lg-offset-3  { margin-left: 25%;       }
    .col-lg-4  {width: 33.33333%;  }  .col-lg-offset-4  { margin-left: 33.3333%;  }
    .col-lg-5  {width: 41.66666%;  }  .col-lg-offset-5  { margin-left: 41.6666;   }
    .col-lg-6  {width: 50%;        }  .col-lg-offset-6  { margin-left: 50%;       }
    .col-lg-7  {width: 58.33333%;  }  .col-lg-offset-7  { margin-left: 58.33333%; }
    .col-lg-8  {width: 66.66666%;  }  .col-lg-offset-8  { margin-left: 66.6666%;  }
    .col-lg-9  {width: 75%;        }  .col-lg-offset-9  { margin-left: 75%;       }
    .col-lg-10 {width: 83.33333%;  }  .col-lg-offset-10 { margin-left: 83.33333%; }
    .col-lg-11 {width: 91.66666%;  }  .col-lg-offset-11 { margin-left: 91.66666%; }
    .col-lg-12 {width: 100%;       }  .col-lg-offset-12 { margin-left: 100%;      }
}
/************** GRID + OFFSET POUR QUAND LA FENETRE < 1200PX ***************/
@media (min-width: 1200px){
    .col-xl-1  {width: 8.33333%;   }  .col-xl-offset-1  { margin-left: 8.33333%;  }
    .col-xl-2  {width: 16.66666%;  }  .col-xl-offset-2  { margin-left: 16.6666%;  }
    .col-xl-3  {width: 25%;        }  .col-xl-offset-3  { margin-left: 25%;       }
    .col-xl-4  {width: 33.33333%;  }  .col-xl-offset-4  { margin-left: 33.3333%;  }
    .col-xl-5  {width: 41.66666%;  }  .col-xl-offset-5  { margin-left: 41.6666;   }
    .col-xl-6  {width: 50%;        }  .col-xl-offset-6  { margin-left: 50%;       }
    .col-xl-7  {width: 58.33333%;  }  .col-xl-offset-7  { margin-left: 58.33333%; }
    .col-xl-8  {width: 66.66666%;  }  .col-xl-offset-8  { margin-left: 66.6666%;  }
    .col-xl-9  {width: 75%;        }  .col-xl-offset-9  { margin-left: 75%;       }
    .col-xl-10 {width: 83.33333%;  }  .col-xl-offset-10 { margin-left: 83.33333%; }
    .col-xl-11 {width: 91.66666%;  }  .col-xl-offset-11 { margin-left: 91.66666%; }
    .col-xl-12 {width: 100%;       }  .col-xl-offset-12 { margin-left: 100%;      }
}
/************** GRID + OFFSET POUR QUAND LA FENETRE < 1400PX ***************/
@media (min-width: 1400px){
    .col-xxl-1  {width: 8.33333%;   }  .col-xxl-offset-1  { margin-left: 8.33333%;  }
    .col-xxl-2  {width: 16.66666%;  }  .col-xxl-offset-2  { margin-left: 16.6666%;  }
    .col-xxl-3  {width: 25%;        }  .col-xxl-offset-3  { margin-left: 25%;       }
    .col-xxl-4  {width: 33.33333%;  }  .col-xxl-offset-4  { margin-left: 33.3333%;  }
    .col-xxl-5  {width: 41.66666%;  }  .col-xxl-offset-5  { margin-left: 41.6666;   }
    .col-xxl-6  {width: 50%;        }  .col-xxl-offset-6  { margin-left: 50%;       }
    .col-xxl-7  {width: 58.33333%;  }  .col-xxl-offset-7  { margin-left: 58.33333%; }
    .col-xxl-8  {width: 66.66666%;  }  .col-xxl-offset-8  { margin-left: 66.6666%;  }
    .col-xxl-9  {width: 75%;        }  .col-xxl-offset-9  { margin-left: 75%;       }
    .col-xxl-10 {width: 83.33333%;  }  .col-xxl-offset-10 { margin-left: 83.33333%; }
    .col-xxl-11 {width: 91.66666%;  }  .col-xxl-offset-11 { margin-left: 91.66666%; }
    .col-xxl-12 {width: 100%;       }  .col-xxl-offset-12 { margin-left: 100%;      }

}

/** Centre les blocs **/
.fcm{
  display: flex;
  justify-content: center;
  align-items: center;
}

/** Note à moi même : On mets les media en min-width car la lecture se fait du plus petit au plus grand (Mobile first) **/

/************************************************************************************************************
                                        FLEX-DIRECTION 
************************************************************************************************************/

/** Le flex direction change a  COLUMN à partir d'un certain cap  ...**/
@media (min-width: 1px)   { .c-xs {flex-direction: column;}}
@media (min-width: 576px) { .c-sm {flex-direction: column;}}
@media (min-width: 768px) { .c-md {flex-direction: column;}}
@media (min-width: 992px) { .c-lg {flex-direction: column;}}
@media (min-width: 1200px){ .c-xl {flex-direction: column;}}
@media (min-width: 1400px){ .c-xxl{flex-direction: column;}}

/** Le flex direction change a  COLUMN-REVERSE à partir d'un certain cap  ...**/
@media (min-width: 1px)   { .cr-xs {flex-direction: column-reverse;}}
@media (min-width: 576px) { .cr-sm {flex-direction: column-reverse;}}
@media (min-width: 768px) { .cr-md {flex-direction: column-reverse;}}
@media (min-width: 992px) { .cr-lg {flex-direction: column-reverse;}}
@media (min-width: 1200px){ .cr-xl {flex-direction: column-reverse;}}
@media (min-width: 1400px){ .cr-xxl{flex-direction: column-reverse;}}

/** Le flex direction change a  ROW à partir d'un certain cap  ...**/
@media (min-width: 1px)   { .r-xs {flex-direction: row;}}
@media (min-width: 576px) { .r-sm {flex-direction: row;}}
@media (min-width: 768px) { .r-md {flex-direction: row;}}
@media (min-width: 992px) { .r-lg {flex-direction: row;}}
@media (min-width: 1200px){ .r-xl {flex-direction: row;}}
@media (min-width: 1400px){ .r-xxl{flex-direction: row;}}

/** Le flex direction change a  ROW-REVERSE à partir d'un certain cap  ...**/
@media (min-width: 1px)   { .rr-xs {flex-direction: row-reverse;}}
@media (min-width: 576px) { .rr-sm {flex-direction: row-reverse;}}
@media (min-width: 768px) { .rr-md {flex-direction: row-reverse;}}
@media (min-width: 992px) { .rr-lg {flex-direction: row-reverse;}}
@media (min-width: 1200px){ .rr-xl {flex-direction: row-reverse;}}
@media (min-width: 1400px){ .rr-xxl{flex-direction: row-reverse;}}

/************************************************************************************************************
                                        JUSTIFY CONTENT
************************************************************************************************************/
/** Le Justify-content change a  SPACE-BETWEEN à partir d'un certain cap  ...**/
@media (min-width: 1px)   { .sb-xs {justify-content: space-between;}}
@media (min-width: 576px) { .sb-sm {justify-content: space-between;}}
@media (min-width: 768px) { .sb-md {justify-content: space-between;}}
@media (min-width: 992px) { .sb-lg {justify-content: space-between;}}
@media (min-width: 1200px){ .sb-xl {justify-content: space-between;}}
@media (min-width: 1400px){ .sb-xxl{justify-content: space-between;}}

/** Le Justify-content change a  SPACE-AROUND à partir d'un certain cap  ...**/
@media (min-width: 1px)   { .sa-xs {justify-content: space-around;}}
@media (min-width: 576px) { .sa-sm {justify-content: space-around;}}
@media (min-width: 768px) { .sa-md {justify-content: space-around;}}
@media (min-width: 992px) { .sa-lg {justify-content: space-around;}}
@media (min-width: 1200px){ .sa-xl {justify-content: space-around;}}
@media (min-width: 1400px){ .sa-xxl{justify-content: space-around;}}

/** Le Justify-content change a  SPACE-EVENLY à partir d'un certain cap  ...**/
@media (min-width: 1px)   { .se-xs {justify-content: space-evenly;}}
@media (min-width: 576px) { .se-sm {justify-content: space-evenly;}}
@media (min-width: 768px) { .se-md {justify-content: space-evenly;}}
@media (min-width: 992px) { .se-lg {justify-content: space-evenly;}}
@media (min-width: 1200px){ .se-xl {justify-content: space-evenly;}}
@media (min-width: 1400px){ .se-xxl{justify-content: space-evenly;}}

/** Le flex direction change a  ROW-REVERSE à partir d'un certain cap  ...**/
@media (min-width: 1px)   { .rr-xs { flex-direction: row-reverse;}}
@media (min-width: 576px) { .rr-sm {flex-direction: row-reverse;}}
@media (min-width: 768px) { .rr-md {flex-direction: row-reverse;}}
@media (min-width: 992px) { .rr-lg {flex-direction: row-reverse;}}
@media (min-width: 1200px){ .rr-xl {flex-direction: row-reverse;}}
@media (min-width: 1400px){ .rr-xxl{flex-direction: row-reverse;}} 

/************************************************************************************************************
                                       ORDER 
************************************************************************************************************/
/** Order pour XS**/
@media (min-width: 1px)   { .o1-xs {order:-10 ;}}
@media (min-width: 1px)   { .o2-xs {order:-9 ;}}
@media (min-width: 1px)   { .o3-xs {order:-8 ;}}
@media (min-width: 1px)   { .o4-xs {order:-7 ;}}
@media (min-width: 1px)   { .o5-xs {order:-6 ;}}
@media (min-width: 1px)   { .o6-xs {order:-5 ;}}

/** Order pour SM**/
@media (min-width: 576px)   { .o1-sm {order:-10 ;}}
@media (min-width: 576px)   { .o2-sm {order:-9 ;}}
@media (min-width: 576px)   { .o3-sm {order:-8 ;}}
@media (min-width: 576px)   { .o4-sm {order:-7 ;}}
@media (min-width: 576px)   { .o5-sm {order:-6 ;}}
@media (min-width: 576px)   { .o6-sm {order:-5 ;}}

/** Order pour MD**/
@media (min-width: 768px)   { .o1-md {order:-10 ;}}
@media (min-width: 768px)   { .o2-md {order:-9 ;}}
@media (min-width: 768px)   { .o3-md {order:-8 ;}}
@media (min-width: 768px)   { .o4-md {order:-7 ;}}
@media (min-width: 768px)   { .o5-md {order:-6 ;}}
@media (min-width: 768px)   { .o6-md {order:-5 ;}}

/** Order pour LG**/
@media (min-width: 992px)   { .o1-lg {order:-10 ;}}
@media (min-width: 992px)   { .o2-lg {order:-9 ;}}
@media (min-width: 992px)   { .o3-lg {order:-8 ;}}
@media (min-width: 992px)   { .o4-lg {order:-7 ;}}
@media (min-width: 992px)   { .o5-lg {order:-6 ;}}
@media (min-width: 992px)   { .o6-lg {order:-5 ;}}

/** Order pour XL**/
@media (min-width: 1200px)   { .o1-xl {order:-10 ;}}
@media (min-width: 1200px)   { .o2-xl {order:-9 ;}}
@media (min-width: 1200px)   { .o3-xl {order:-8 ;}}
@media (min-width: 1200px)   { .o4-xl {order:-7 ;}}
@media (min-width: 1200px)   { .o5-xl {order:-6 ;}}
@media (min-width: 1200px)   { .o6-xl {order:-5 ;}}

/** Order pour XXL**/
@media (min-width: 1400px)   { .o1-xxl {order:-10 ;}}
@media (min-width: 1400px)   { .o2-xxl {order:-9 ;}}
@media (min-width: 1400px)   { .o3-xxl {order:-8 ;}}
@media (min-width: 1400px)   { .o4-xxl {order:-7 ;}}
@media (min-width: 1400px)   { .o5-xxl {order:-6 ;}}
@media (min-width: 1400px)   { .o6-xxl {order:-5 ;}}