* {box-sizing: border-box;}
body {margin: 0; background-color: rgb(190, 190, 190);}
.row {
    background-color: rgb(252, 233, 233);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.507);
    margin: 10px;
}

.card {
    background-color: lightgray;
}

[class*='col-'] {
    margin: 10px 0;
    min-height: 100px;
    background-clip:content-box;
    line-height: 100px;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(27, 14, 14);
}



/** Couleurs des cols **/
.b { background-color: rgba(0, 0, 255, 0.589);}
.g { background-color: rgba(47, 156, 4, 0.589);}
.r { background-color: rgba(241, 42, 42, 0.589);}
.y { background-color: rgba(255, 174, 0, 0.589);}
.o {background-color: orange;}
